* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  position: relative;
}

.note {
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  -webkit-box-shadow: 2px 5px 15px 1px rgba(0,0,0,0.44); 
  box-shadow: 2px 5px 15px 1px rgba(0,0,0,0.44);
}

.yellow {
  background-color: #fef68a;
}

.red {
  background-color: rgb(216, 133, 133);
}

.green {
  background-color: rgb(166, 199, 166);
}

.blue {
  background-color: rgb(126, 126, 219);
}

.red-bubble {
  background-color: rgb(216, 133, 133);
}

.yellow-bubble {
  background-color: #fef68a;
}

.green-bubble {
  background-color: rgb(166, 199, 166);
}

.blue-bubble {
  background-color: rgb(126, 126, 219);
}

.select-color {
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.editingNote {
  background-color: #fef68a94;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.editingNote textarea {
  background-color: #fef68a94;
  width: 100%;
  border-radius: 10px;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  position: relative;
  background-color: #fcfcfc;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
  transition: 0.5s;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
}

.note.new {
  background-color: #67d7cc;
  
}

textarea {
  border: none;
  resize: none;
  background-color: #67d7cc;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.add-btn {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-left: auto;
  transition: 0.3s;
  font-weight: 700;
  font-size: 1rem;
  -webkit-box-shadow: 2px 5px 15px 1px rgba(0,0,0,0.44); 
  box-shadow: 2px 5px 15px 1px rgba(0,0,0,0.44);
}

.add-btn:hover {
  background-color: #ededed;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 10px 5px;
  margin-bottom: 1.5em;
}

input {
  background-color: rgb(233, 233, 233);
  border-style: none;
}

input:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode {
  background-color: rgb(24, 23, 23);
  transition: 0.5s;
}

.dark-mode h1 {
  color: white;
}


@media screen and (max-width: 500px) {
  .add-btn {
    position: fixed;
    right: 20px;
    bottom: 30px;
  }

}
